<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase de Grupos</title>
    <!-- Incluye DataTables CSS y jQuery -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>
    <h1>Fase de Grupos</h1>
    <table id="faseDeGruposTable" class="display">
        <thead>
            <tr>
                <th>Player</th>
                <th>Primero grupo A</th>
                <th>Primero grupo B</th>
                <th>Primero grupo C</th>
                <th>Primero grupo D</th>
                <th>Primero grupo E</th>
                <th>Primero grupo F</th>
                <th>Segundo grupo A</th>
                <th>Segundo grupo B</th>
                <th>Segundo grupo C</th>
                <th>Segundo grupo D</th>
                <th>Segundo grupo E</th>
                <th>Segundo grupo F</th>                
                <th>Fecha Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.player }}</td>
                <td>{{ item.equipo_primero_grupo_A }}</td>
                <td>{{ item.equipo_segundo_grupo_A }}</td>
                <td>{{ item.equipo_primero_grupo_B }}</td>
                <td>{{ item.equipo_segundo_grupo_B }}</td>
                <td>{{ item.equipo_primero_grupo_C }}</td>
                <td>{{ item.equipo_segundo_grupo_C }}</td>
                <td>{{ item.equipo_primero_grupo_D }}</td>
                <td>{{ item.equipo_segundo_grupo_D }}</td>
                <td>{{ item.equipo_primero_grupo_E }}</td>
                <td>{{ item.equipo_segundo_grupo_E }}</td>
                <td>{{ item.equipo_primero_grupo_F }}</td>
                <td>{{ item.equipo_segundo_grupo_F }}</td>
                <td>{{ item.fecha_hora }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
        $('#faseDeGruposTable').DataTable();
    });
    </script>
</body>
</html>
